.portfolio-img {
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #aaaaaa;
}

.portfolio-map {
    width: 100%;
    height: 150px;
    margin: 10px 0px;
    border: 1px solid gray;
    border-radius: 10px;
}